body {
    font-family: "Menlo", Arial, Helvetica, sans-serif;
    color:white;
    overflow:hidden;
    margin:0px; padding:0px;
    background-color:#333;
    font-family: 'Press Start 2P', cursive;
}

game {
    width:100vw; height:100vh;
    background-color:black;
    overflow:hidden;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

ui {
    transform: translate(20px, 20px);
}

enemy {
    width:100px; height:100px;
    background-image: url(../images/enemy.png);
    overflow: hidden;
    background-position-x: -100px;
}

cookie {
    width:50px; height:50px;
    background-image: url(../images/cookie.png);
    background-size: contain;   
}

cookiesandmilk {
    width:100px; height:100px;
    background-image: url(../images/cookies-and-milk.png);
    background-size: contain;   
}

player {
    width:75px; height:75px;
    background-image: url(../images/smile.png);
    background-size: contain;   
}

.flicker {
    animation: flicker 0.25s infinite;
  }
  @keyframes flicker {
    0%{opacity: 1}    
    50%{opacity: 0}    
    75%{opacity: 1}
    100%{opacity: 1}      
  }

bar {
    background-image: url(../images/scorebar.png);
    background-repeat: no-repeat;
    width:281px; height:75px;
    overflow: hidden;
    background-position-x: 0px;
}

textfield {
    font-size: 1.4em;
    width:530px;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
    transform: translateY(80px);
}

background {
    width:100%; height:100%;
    background-color: #E69C5F;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
}

.hide {
    display: none;
}

.show {
    display: block;
}
